@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.listModalWrap {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background-color: colors.$CORAL;
  @include position.fixed(45% 0 0 50%);
  transform: translate(-50%, -50%);
}

.btnWrap {
  display: flex;
  justify-content: space-between;
  width: 50%;

  button {
    width: 70px;
    height: 25px;
    background-color: colors.$WHITE;
    border: 1px solid colors.$CORAL;

    &:hover {
      color: colors.$WHITE;
      background-color: colors.$ORANGE;
    }
  }
}
